@charset "UTF-8";
/* Style CSS pour personnage Howdy - Océane KALAMBAY */
body {
  text-align: center;
  -webkit-animation: debut 2.5s linear 0s 1 normal;
          animation: debut 2.5s linear 0s 1 normal;
  margin: 0;
}

.ciel {
  background-color: #9eeaf4;
  height: 65%;
  width: 100%;
  position: absolute;
  z-index: -2;
}

.herbe {
  background-color: #48c74a;
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.generique {
  position: absolute;
  font-size: 16px;
  width: 310px;
  right: 3%;
  font-weight: 600;
  -webkit-animation: generique 14s linear 1s infinite normal both;
          animation: generique 14s linear 1s infinite normal both;
}

.generique:hover {
  color: #ff9635;
  text-shadow: 1px 1px 1px black;
}

.generique:hover::after {
  position: absolute;
  -webkit-animation: symbole-musique 4s linear 0s infinite normal none;
          animation: symbole-musique 4s linear 0s infinite normal none;
  content: "♪♪";
  width: 10px;
  height: 10px;
}

.howdy {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-animation: deplacement 14s ease-in-out 1s infinite normal both;
          animation: deplacement 14s ease-in-out 1s infinite normal both;
}

.tete {
  position: relative;
  z-index: 3;
}

.oreille {
  position: absolute;
  display: inline-block;
  width: 130px;
  height: 125px;
  background-color: #dbab73;
  top: -45px;
}

.oreille.oreille-droite {
  border-radius: 50% 100% 50% 100%;
  left: 190px;
  -webkit-animation: mouvement-oreille-droite 2.5s linear 1.3s infinite alternate none;
          animation: mouvement-oreille-droite 2.5s linear 1.3s infinite alternate none;
}

.oreille.oreille-droite::after {
  border-radius: 80% 100% 80% 100%;
  left: 15px;
}

.oreille.oreille-gauche {
  border-radius: 100% 50% 100% 50%;
  left: -71px;
  -webkit-animation: mouvement-oreille-gauche 2.5s linear 1.3s infinite alternate none;
          animation: mouvement-oreille-gauche 2.5s linear 1.3s infinite alternate none;
}

.oreille.oreille-gauche::after {
  border-radius: 100% 80% 100% 80%;
  right: 15px;
}

.oreille.oreille-droite::after, .oreille.oreille-gauche::after {
  position: relative;
  content: "";
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: pink;
  top: 30px;
  border: 0.5px solid darkgrey;
  z-index: 1;
}

.partie-sup {
  position: relative;
  width: 250px;
  height: 190px;
  border-radius: 124px 124px 0px 0px / 121px 121px 0px 0px;
  background-color: beige;
}

.pelage {
  width: 130px;
  height: 125px;
  background-color: #dbab73;
}

.pelage.pelage-gauche {
  border-radius: 85% 5% 85% 5%;
}

.pelage.pelage-droit {
  position: relative;
  border-radius: 5% 85% 5% 85%;
  top: -125px;
  left: 120px;
}

.oeil {
  position: absolute;
  display: inline-block;
  width: 85px;
  height: 85px;
  background-color: black;
  top: 50px;
  z-index: 2;
}

.oeil.oeil-gauche {
  border-radius: 100% 60% 100% 70%;
  left: 26px;
}

.oeil.oeil-droit {
  border-radius: 60% 100% 70% 100%;
  right: 26px;
}

.pupille {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
}

.pupille.pupille-gauche {
  border-radius: 100% 80% 100% 80%;
  top: 10px;
  left: 21px;
}

.pupille.pupille-gauche::after {
  right: 12px;
  top: 5px;
  -webkit-transform: rotateZ(42deg);
          transform: rotateZ(42deg);
}

.pupille.pupille-droite {
  border-radius: 80% 100% 80% 100%;
  top: 12px;
  right: -13px;
}

.pupille.pupille-droite::after {
  right: -6px;
  top: 3px;
  -webkit-transform: rotateZ(-50deg);
          transform: rotateZ(-50deg);
}

.pupille.pupille-gauche::after, .pupille.pupille-droite::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-radius: 100% 82% 100% 100%;
  border-bottom: 8px solid #3a485f;
}

.reflets {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  z-index: 1;
  -webkit-animation: mouvement-reflets 3s linear 1.3s infinite alternate none;
          animation: mouvement-reflets 3s linear 1.3s infinite alternate none;
}

.reflets.reflets-gauche {
  border-radius: 100% 80% 100% 80%;
  top: 54px;
  left: 0px;
}

.reflets.reflets-gauche::before {
  border-radius: 100% 80% 100% 80%;
  left: -14px;
}

.reflets.reflets-droit {
  border-radius: 80% 100% 80% 100%;
  top: 49px;
  left: 44px;
}

.reflets.reflets-droit::before {
  border-radius: 80% 100% 80% 100%;
  left: 11px;
}

.reflets.reflets-gauche::before, .reflets.reflets-droit::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  top: -9px;
  z-index: 1;
}

.partie-inf {
  position: relative;
  width: 260px;
  height: 135px;
  top: -70px;
  right: 5px;
  background-color: beige;
  border-radius: 234px 234px 104px 104px / 167px 167px 85px 85px;
  border-bottom: 1px solid black;
  z-index: 1;
}

.moustaches {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-top: 4px solid black;
  top: 20px;
  z-index: 1;
}

.moustaches.moustaches-gauche {
  border-radius: 43% 82% 34% 100%;
  right: 98px;
  -webkit-animation: mouvement-moustaches-gauches 3.5s linear 1s infinite normal forwards;
          animation: mouvement-moustaches-gauches 3.5s linear 1s infinite normal forwards;
}

.moustaches.moustaches-gauche::after {
  border-radius: 100% 82% 43% 100%;
  top: 17px;
}

.moustaches.moustaches-droite {
  border-radius: 100% 82% 34% 100%;
  left: 103px;
  -webkit-animation: mouvement-moustaches-droites 3.5s linear 1s infinite normal forwards;
          animation: mouvement-moustaches-droites 3.5s linear 1s infinite normal forwards;
}

.moustaches.moustaches-droite::after {
  border-radius: 69% 100% 43% 100%;
  top: 20px;
}

.moustaches.moustaches-gauche::after, .moustaches.moustaches-droite::after {
  position: relative;
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-top: 4px solid black;
  z-index: 1;
  right: 5px;
}

.nez {
  position: relative;
  width: 11px;
  height: 5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 3px solid black;
  border-top: none;
  left: 116px;
  top: -46px;
}

.levres-superieures,
.levres-superieures::after {
  position: relative;
  width: 40px;
  height: 22px;
  background-color: beige;
  border: 3px solid black;
  border-bottom: none;
}

.levres-superieures {
  border-top-left-radius: 60px;
  border-top-right-radius: 100px;
  background-color: beige;
  border: 3px solid black;
  border-bottom: none;
  left: 77px;
  top: -26px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  z-index: 1;
}

.levres-superieures::after {
  content: "";
  display: inline-block;
  border-top-left-radius: 100px;
  border-top-right-radius: 60px;
  right: -43px;
  top: -3px;
}

.bouche {
  position: absolute;
  left: 93px;
  top: 65px;
  width: 58px;
  background-color: #ffb7db;
  border-radius: 18% 20% 35% 35%;
  border: 1.5px solid #ff65b3;
  -webkit-animation: ouverture-bouche 14s ease-in-out 9.6s infinite normal forwards;
          animation: ouverture-bouche 14s ease-in-out 9.6s infinite normal forwards;
}

.dents {
  position: relative;
  height: 28px;
  width: 23px;
  background-color: white;
  border: 2.5px solid black;
  left: 110px;
  top: -49px;
}

.corps {
  position: relative;
  width: 240px;
  height: 200px;
  background-color: beige;
  border-radius: 0px 0px 76px 74px / 0px 0px 44px 46px;
  top: -94px;
  left: 5px;
  z-index: 2;
}

.bras {
  position: absolute;
  width: 52px;
  height: 25px;
  background-color: beige;
  border: 0.5px solid black;
  border-left: none;
}

.bras.bras-gauche {
  top: 43px;
  left: 17px;
  z-index: 3;
  -webkit-animation: mouvement-bras 14s ease-in-out 9.6s infinite normal both;
          animation: mouvement-bras 14s ease-in-out 9.6s infinite normal both;
}

.bras.bras-droit {
  top: 45px;
  right: 17px;
  -webkit-transform: rotate(136deg);
          transform: rotate(136deg);
}

.main-gauche,
.main-droite {
  position: absolute;
  top: 3.3px;
  left: 44px;
  height: 18px;
  width: 25px;
  background-color: pink;
  border-radius: 78px 67px 61px 56px / 17px 22px 39px 50px;
  border: 0.5px solid black;
  -webkit-transform: rotate(-87deg);
          transform: rotate(-87deg);
  z-index: 3;
}

.main-gauche::before,
.main-droite::before {
  content: "";
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 6px;
  height: 8px;
  background-color: transparent;
  border-radius: 0 5px;
  border-left: 0.5px solid black;
}

.main-gauche::after,
.main-droite::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  display: inline-block;
  width: 6px;
  height: 8px;
  background-color: transparent;
  border-radius: 0 5px;
  border-left: 0.5px solid black;
}

.graine-tournesol {
  position: absolute;
  display: inline-block;
  width: 65px;
  height: 65px;
  background-color: #525251;
  border-radius: 87% 30% 87% 30%;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  border: 2px solid black;
}

.graine-tournesol.graine-main {
  top: 48px;
  left: 43px;
  -webkit-animation-name: graine-main, mouvement-graine;
          animation-name: graine-main, mouvement-graine;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  -webkit-animation-delay: 4.8s, 9.6s;
          animation-delay: 4.8s, 9.6s;
  -webkit-animation-timing-function: linear, ease-in-out;
          animation-timing-function: linear, ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.graine-tournesol.graine-main-tmp {
  left: 48px;
  z-index: 3;
  -webkit-animation: graine-main-tmp 14s ease-in-out 2s infinite normal both;
          animation: graine-main-tmp 14s ease-in-out 2s infinite normal both;
}

.graine-tournesol.graine-1 {
  left: 45px;
  -webkit-animation: graine-1 14s ease-in-out 1s infinite normal both;
          animation: graine-1 14s ease-in-out 1s infinite normal both;
}

.graine-tournesol.graine-2 {
  left: 78px;
  -webkit-animation: graine-2 14s ease-in-out 1.4s infinite normal both;
          animation: graine-2 14s ease-in-out 1.4s infinite normal both;
}

.graine-tournesol.graine-3 {
  left: 75px;
  z-index: -1;
  -webkit-animation: graine-3 14s ease-in-out 1.6s infinite normal both;
          animation: graine-3 14s ease-in-out 1.6s infinite normal both;
}

.graine-tournesol.graine-4 {
  left: 80px;
  z-index: -1;
  -webkit-animation: graine-4 14s ease-in 1.7s infinite normal both;
          animation: graine-4 14s ease-in 1.7s infinite normal both;
  z-index: -1;
}

.graine-tournesol::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 78.5px;
  height: 23px;
  background-color: transparent;
  border-radius: 100% 82% 100% 100%;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  right: 6.5px;
  top: 13px;
  -webkit-transform: rotateZ(-41deg);
          transform: rotateZ(-41deg);
}

.graine-tournesol::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 78px;
  border-radius: 100% 82% 100% 100%;
  background-color: darkgrey;
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
  bottom: -6px;
  left: 25px;
  border: 0.5px solid black;
}

.tablier,
.tablier::before {
  background-color: red;
  border: 0.5px solid black;
  border-radius: 2px;
}

.tablier {
  position: relative;
  height: 67px;
  width: 160px;
  left: 38px;
  border-top: none;
  top: 105px;
  z-index: -1;
}

.tablier::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 240px;
  top: -16px;
  right: -42px;
}

.queue {
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #dbab73;
  border-radius: 30% 78% 20% 78%;
  left: -25px;
  bottom: 155px;
}

.pied {
  position: absolute;
  width: 30px;
  height: 50px;
  background-color: pink;
  border-radius: 12px;
  border: 0.5px solid black;
  -webkit-animation: mouvement-pied 14s ease-out 0.2s infinite normal forwards;
          animation: mouvement-pied 14s ease-out 0.2s infinite normal forwards;
}

.pied.pied-gauche {
  bottom: 63px;
  left: 40px;
}

.pied.pied-gauche::before {
  border-radius: 0 5px;
  border-left: 0.5px solid black;
}

.pied.pied-gauche::after {
  border-radius: 0 5px;
  border-left: 0.5px solid black;
}

.pied.pied-droit {
  bottom: 64px;
  right: 53px;
}

.pied.pied-droit::before {
  border-radius: 5px 0;
  border-right: 0.5px solid black;
}

.pied.pied-droit::after {
  border-radius: 5px 0;
  border-right: 0.5px solid black;
}

.pied::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 16px;
  display: inline-block;
  width: 6px;
  height: 15px;
  background-color: transparent;
}

.pied::after {
  content: "";
  position: absolute;
  top: 35px;
  display: inline-block;
  width: 6px;
  height: 15px;
  background-color: transparent;
}

@-webkit-keyframes debut {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes debut {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes graine-main {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  42% {
    opacity: 100%;
  }
  43% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes graine-main {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  42% {
    opacity: 100%;
  }
  43% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes graine-main-tmp {
  0% {
    top: -600px;
  }
  20% {
    opacity: 100%;
  }
  21% {
    top: 280px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0%;
  }
  100% {
    top: 280px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0%;
  }
}

@keyframes graine-main-tmp {
  0% {
    top: -600px;
  }
  20% {
    opacity: 100%;
  }
  21% {
    top: 280px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0%;
  }
  100% {
    top: 280px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0%;
  }
}

@-webkit-keyframes graine-1 {
  from {
    top: -80px;
  }
  30% {
    top: 72%;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg);
  }
  to {
    top: 72%;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg);
  }
}

@keyframes graine-1 {
  from {
    top: -80px;
  }
  30% {
    top: 72%;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg);
  }
  to {
    top: 72%;
    -webkit-transform: rotate(171deg);
            transform: rotate(171deg);
  }
}

@-webkit-keyframes graine-2 {
  from {
    top: -80px;
  }
  30% {
    top: 72%;
    -webkit-transform: rotate(250deg);
            transform: rotate(250deg);
  }
  to {
    top: 72%;
    -webkit-transform: rotate(250deg);
            transform: rotate(250deg);
  }
}

@keyframes graine-2 {
  from {
    top: -80px;
  }
  30% {
    top: 72%;
    -webkit-transform: rotate(250deg);
            transform: rotate(250deg);
  }
  to {
    top: 72%;
    -webkit-transform: rotate(250deg);
            transform: rotate(250deg);
  }
}

@-webkit-keyframes graine-3 {
  from {
    top: -80px;
  }
  27% {
    top: 70%;
    -webkit-transform: scale(0.8) rotate(118deg);
            transform: scale(0.8) rotate(118deg);
  }
  to {
    top: 70%;
    -webkit-transform: scale(0.8) rotate(118deg);
            transform: scale(0.8) rotate(118deg);
  }
}

@keyframes graine-3 {
  from {
    top: -80px;
  }
  27% {
    top: 70%;
    -webkit-transform: scale(0.8) rotate(118deg);
            transform: scale(0.8) rotate(118deg);
  }
  to {
    top: 70%;
    -webkit-transform: scale(0.8) rotate(118deg);
            transform: scale(0.8) rotate(118deg);
  }
}

@-webkit-keyframes graine-4 {
  from {
    top: -80px;
  }
  25% {
    top: 70%;
    -webkit-transform: matrix(1, 0.5, 0.5, -1, 20, 20);
            transform: matrix(1, 0.5, 0.5, -1, 20, 20);
  }
  to {
    top: 70%;
    -webkit-transform: matrix(1, 0.5, 0.5, -1, 20, 20);
            transform: matrix(1, 0.5, 0.5, -1, 20, 20);
  }
}

@keyframes graine-4 {
  from {
    top: -80px;
  }
  25% {
    top: 70%;
    -webkit-transform: matrix(1, 0.5, 0.5, -1, 20, 20);
            transform: matrix(1, 0.5, 0.5, -1, 20, 20);
  }
  to {
    top: 70%;
    -webkit-transform: matrix(1, 0.5, 0.5, -1, 20, 20);
            transform: matrix(1, 0.5, 0.5, -1, 20, 20);
  }
}

@-webkit-keyframes mouvement-pied {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  11% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  21% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  27% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  33% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  39% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  43% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  55% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  61% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  71% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  76% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes mouvement-pied {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  11% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  16% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  21% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  27% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  33% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  39% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  43% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  49% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  55% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  61% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  66% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  71% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  76% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes deplacement {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  38% {
    -webkit-transform: translate(-120%, -50%);
            transform: translate(-120%, -50%);
  }
  72% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes deplacement {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  38% {
    -webkit-transform: translate(-120%, -50%);
            transform: translate(-120%, -50%);
  }
  72% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes mouvement-bras {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  8% {
    -webkit-transform: rotate(-19deg);
            transform: rotate(-19deg);
  }
  14% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes mouvement-bras {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  8% {
    -webkit-transform: rotate(-19deg);
            transform: rotate(-19deg);
  }
  14% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes mouvement-graine {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8% {
    -webkit-transform: translateY(-22px) rotate(-17deg);
            transform: translateY(-22px) rotate(-17deg);
  }
  14% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes mouvement-graine {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  8% {
    -webkit-transform: translateY(-22px) rotate(-17deg);
            transform: translateY(-22px) rotate(-17deg);
  }
  14% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes ouverture-bouche {
  0% {
    height: 0px;
  }
  8% {
    height: 65px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  12% {
    height: 0px;
  }
  100% {
    height: 0px;
  }
}

@keyframes ouverture-bouche {
  0% {
    height: 0px;
  }
  8% {
    height: 65px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  12% {
    height: 0px;
  }
  100% {
    height: 0px;
  }
}

@-webkit-keyframes mouvement-reflets {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 60%;
  }
  100% {
    -webkit-transform: scale(1.1) translate(1.5px, 2px);
            transform: scale(1.1) translate(1.5px, 2px);
    opacity: 100%;
  }
}

@keyframes mouvement-reflets {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 60%;
  }
  100% {
    -webkit-transform: scale(1.1) translate(1.5px, 2px);
            transform: scale(1.1) translate(1.5px, 2px);
    opacity: 100%;
  }
}

@-webkit-keyframes mouvement-moustaches-gauches {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  14% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  28% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes mouvement-moustaches-gauches {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  14% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  28% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes mouvement-moustaches-droites {
  0% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  14% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  28% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes mouvement-moustaches-droites {
  0% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  14% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  28% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes mouvement-oreille-droite {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
  100% {
    -webkit-transform: rotate(6deg) translate(5px, 2px);
            transform: rotate(6deg) translate(5px, 2px);
  }
}

@keyframes mouvement-oreille-droite {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
  100% {
    -webkit-transform: rotate(6deg) translate(5px, 2px);
            transform: rotate(6deg) translate(5px, 2px);
  }
}

@-webkit-keyframes mouvement-oreille-gauche {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
  100% {
    -webkit-transform: rotate(-6deg) translate(-5px, -2px);
            transform: rotate(-6deg) translate(-5px, -2px);
  }
}

@keyframes mouvement-oreille-gauche {
  0% {
    -webkit-transform: rotate(0deg) translateX(0px);
            transform: rotate(0deg) translateX(0px);
  }
  100% {
    -webkit-transform: rotate(-6deg) translate(-5px, -2px);
            transform: rotate(-6deg) translate(-5px, -2px);
  }
}

@-webkit-keyframes generique {
  0% {
    opacity: 0;
    top: 10%;
  }
  8% {
    opacity: 100%;
    top: 10%;
  }
  100% {
    top: -83%;
  }
}

@keyframes generique {
  0% {
    opacity: 0;
    top: 10%;
  }
  8% {
    opacity: 100%;
    top: 10%;
  }
  100% {
    top: -83%;
  }
}

@-webkit-keyframes symbole-musique {
  0% {
    -webkit-transform: scale(1) translate(0px);
            transform: scale(1) translate(0px);
  }
  50% {
    color: #ff0d23;
  }
  100% {
    color: #bd00cf;
    -webkit-transform: scale(3) translate(-50px);
            transform: scale(3) translate(-50px);
  }
}

@keyframes symbole-musique {
  0% {
    -webkit-transform: scale(1) translate(0px);
            transform: scale(1) translate(0px);
  }
  50% {
    color: #ff0d23;
  }
  100% {
    color: #bd00cf;
    -webkit-transform: scale(3) translate(-50px);
            transform: scale(3) translate(-50px);
  }
}
/*# sourceMappingURL=style.css.map */