/* Style CSS pour personnage Howdy - Océane KALAMBAY */

body {
    text-align: center;
    animation: debut 2.5s linear 0s 1 normal;
    margin: 0;
}

.ciel {
    background-color: #9eeaf4;
    height: 65%;
    width: 100%;
    position: absolute;
    z-index: -2;
}

.herbe {
    background-color: #48c74a;
    height: 35%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.generique {
    position: absolute;
    font-size: 16px;
    width: 310px;
    right: 3%;
    font-weight: 600;
    animation: generique 14s linear 1s infinite normal both;

    &:hover {
        color: #ff9635;
        text-shadow: 1px 1px 1px black;
        &::after {
            position: absolute;
            animation: symbole-musique 4s linear 0s infinite normal none;
            content: "♪♪";
            width: 10px;
            height: 10px;
        }
    }
}

.howdy {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    animation: deplacement 14s ease-in-out 1s infinite normal both;
}

.tete {
    position: relative;
    z-index: 3;
}

.oreille {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 125px;
    background-color: #dbab73;
    top: -45px;

    &.oreille-droite {
        border-radius: 50% 100% 50% 100%;
        left: 190px;
        animation: mouvement-oreille-droite 2.5s linear 1.3s infinite alternate none;
        &::after {
            border-radius: 80% 100% 80% 100%;
            left: 15px;
        }
    }

    &.oreille-gauche {
        border-radius: 100% 50% 100% 50%;
        left: -71px;
        animation: mouvement-oreille-gauche 2.5s linear 1.3s infinite alternate none;

        &::after {
            border-radius: 100% 80% 100% 80%;
            right: 15px;
        }
    }

    &.oreille-droite::after,
    &.oreille-gauche::after {
        position: relative;
        content: "";
        display: inline-block;
        width: 90px;
        height: 90px;
        background-color: pink;
        top: 30px;
        border: 0.5px solid darkgrey;
        z-index: 1;
    }
}

.partie-sup {
    position: relative;
    width: 250px;
    height: 190px;
    border-radius: 124px 124px 0px 0px / 121px 121px 0px 0px;
    background-color: beige;
}

.pelage {
    width: 130px;
    height: 125px;
    background-color: #dbab73;

    &.pelage-gauche {
        border-radius: 85% 5% 85% 5%;
    }

    &.pelage-droit {
        position: relative;
        border-radius: 5% 85% 5% 85%;
        top: -125px;
        left: 120px;
    }
}

.oeil {
    position: absolute;
    display: inline-block;
    width: 85px;
    height: 85px;
    background-color: black;
    top: 50px;
    z-index: 2;

    &.oeil-gauche {
        border-radius: 100% 60% 100% 70%;
        left: 26px;
    }

    &.oeil-droit {
        border-radius: 60% 100% 70% 100%;
        right: 26px;
    }
}

.pupille {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;

    &.pupille-gauche {
        border-radius: 100% 80% 100% 80%;
        top: 10px;
        left: 21px;

        &::after {
            right: 12px;
            top: 5px;
            transform: rotateZ(42deg);
        }
    }

    &.pupille-droite {
        border-radius: 80% 100% 80% 100%;
        top: 12px;
        right: -13px;

        &::after {
            right: -6px;
            top: 3px;
            transform: rotateZ(-50deg);
        }
    }

    &.pupille-gauche::after,
    &.pupille-droite::after {
        content: "";
        position: relative;
        display: inline-block;
        width: 55px;
        height: 55px;
        background-color: transparent;
        border-radius: 100% 82% 100% 100%;
        border-bottom: 8px solid #3a485f;
    }
}

.reflets {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    z-index: 1;
    animation: mouvement-reflets 3s linear 1.3s infinite alternate none;

    &.reflets-gauche {
        border-radius: 100% 80% 100% 80%;
        top: 54px;
        left: 0px;

        &::before {
            border-radius: 100% 80% 100% 80%;
            left: -14px;
        }
    }

    &.reflets-droit {
        border-radius: 80% 100% 80% 100%;
        top: 49px;
        left: 44px;

        &::before {
            border-radius: 80% 100% 80% 100%;
            left: 11px;
        }
    }

    &.reflets-gauche::before,
    &.reflets-droit::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: white;
        top: -9px;
        z-index: 1;
    }
}

.partie-inf {
    position: relative;
    width: 260px;
    height: 135px;
    top: -70px;
    right: 5px;
    background-color: beige;
    border-radius: 234px 234px 104px 104px / 167px 167px 85px 85px;
    border-bottom: 1px solid black;
    z-index: 1;
}

.moustaches {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-top: 4px solid black;
    top: 20px;
    z-index: 1;

    &.moustaches-gauche {
        border-radius: 43% 82% 34% 100%;
        right: 98px;
        animation: mouvement-moustaches-gauches 3.5s linear 1s infinite normal forwards;

        &::after {
            border-radius: 100% 82% 43% 100%;
            top: 17px;
        }
    }

    &.moustaches-droite {
        border-radius: 100% 82% 34% 100%;
        left: 103px;
        animation: mouvement-moustaches-droites 3.5s linear 1s infinite normal forwards;

        &::after {
            border-radius: 69% 100% 43% 100%;
            top: 20px;
        }
    }

    &.moustaches-gauche::after,
    &.moustaches-droite::after {
        position: relative;
        content: "";
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-top: 4px solid black;
        z-index: 1;
        right: 5px;
    }
}

.nez {
    position: relative;
    width: 11px;
    height: 5px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 3px solid black;
    border-top: none;
    left: 116px;
    top: -46px;
}

.levres-superieures,
.levres-superieures::after {
    position: relative;
    width: 40px;
    height: 22px;
    background-color: beige;
    border: 3px solid black;
    border-bottom: none;
}

.levres-superieures {
    border-top-left-radius: 60px;
    border-top-right-radius: 100px;
    background-color: beige;
    border: 3px solid black;
    border-bottom: none;
    left: 77px;
    top: -26px;
    transform: rotateX(180deg);
    z-index: 1;

    &::after {
        content: "";
        display: inline-block;
        border-top-left-radius: 100px;
        border-top-right-radius: 60px;
        right: -43px;
        top: -3px;
    }
}

.bouche {
    position: absolute;
    left: 93px;
    top: 65px;
    width: 58px;
    background-color: #ffb7db;
    border-radius: 18% 20% 35% 35%;
    border: 1.5px solid #ff65b3;
    animation: ouverture-bouche 14s ease-in-out 9.6s infinite normal forwards;
}

.dents {
    position: relative;
    height: 28px;
    width: 23px;
    background-color: white;
    border: 2.5px solid black;
    left: 110px;
    top: -49px;
}

.corps {
    position: relative;
    width: 240px;
    height: 200px;
    background-color: beige;
    border-radius: 0px 0px 76px 74px / 0px 0px 44px 46px;
    top: -94px;
    left: 5px;
    z-index: 2;
}

.bras {
    position: absolute;
    width: 52px;
    height: 25px;
    background-color: beige;
    border: 0.5px solid black;
    border-left: none;

    &.bras-gauche {
        top: 43px;
        left: 17px;
        z-index: 3;
        animation: mouvement-bras 14s ease-in-out 9.6s infinite normal both;
    }

    &.bras-droit {
        top: 45px;
        right: 17px;
        transform: rotate(136deg);
    }
}

.main-gauche,
.main-droite {
    position: absolute;
    top: 3.3px;
    left: 44px;
    height: 18px;
    width: 25px;
    background-color: pink;
    border-radius: 78px 67px 61px 56px / 17px 22px 39px 50px;
    border: 0.5px solid black;
    transform: rotate(-87deg);
    z-index: 3;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 6px;
        height: 8px;
        background-color: transparent;
        border-radius: 0 5px;
        border-left: 0.5px solid black;
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 6px;
        display: inline-block;
        width: 6px;
        height: 8px;
        background-color: transparent;
        border-radius: 0 5px;
        border-left: 0.5px solid black;
    }
}

.graine-tournesol {
    position: absolute;
    display: inline-block;
    width: 65px;
    height: 65px;
    background-color: #525251;
    border-radius: 87% 30% 87% 30%;
    transform: rotate(-17deg);
    border: 2px solid black;

    &.graine-main {
        top: 48px;
        left: 43px;
        animation-name: graine-main, mouvement-graine;
        animation-duration: 14s;
        animation-delay: 4.8s, 9.6s;
        animation-timing-function: linear, ease-in-out;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    &.graine-main-tmp {
        left: 48px;
        z-index: 3;
        animation: graine-main-tmp 14s ease-in-out 2s infinite normal both;
    }

    &.graine-1 {
        left: 45px;
        animation: graine-1 14s ease-in-out 1s infinite normal both;
    }

    &.graine-2 {
        left: 78px;
        animation: graine-2 14s ease-in-out 1.4s infinite normal both;
    }

    &.graine-3 {
        left: 75px;
        z-index: -1;
        animation: graine-3 14s ease-in-out 1.6s infinite normal both;
    }

    &.graine-4 {
        left: 80px;
        z-index: -1;
        animation: graine-4 14s ease-in 1.7s infinite normal both;
        z-index: -1;
    }

    &::before {
        content: "";
        position: relative;
        display: inline-block;
        width: 78.5px;
        height: 23px;
        background-color: transparent;
        border-radius: 100% 82% 100% 100%;
        border-top: 8px solid white;
        border-bottom: 8px solid white;
        right: 6.5px;
        top: 13px;
        transform: rotateZ(-41deg);
    }

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 12px;
        height: 78px;
        border-radius: 100% 82% 100% 100%;
        background-color: darkgrey;
        transform: rotate(48deg);
        bottom: -6px;
        left: 25px;
        border: 0.5px solid black;
    }
}

.tablier,
.tablier::before {
    background-color: red;
    border: 0.5px solid black;
    border-radius: 2px;
}

.tablier {
    position: relative;
    height: 67px;
    width: 160px;
    left: 38px;
    border-top: none;
    top: 105px;
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 240px;
        top: -16px;
        right: -42px;
    }
}

.queue {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #dbab73;
    border-radius: 30% 78% 20% 78%;
    left: -25px;
    bottom: 155px;
}

.pied {
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: pink;
    border-radius: 12px;
    border: 0.5px solid black;
    animation: mouvement-pied 14s ease-out 0.2s infinite normal forwards;

    &.pied-gauche {
        bottom: 63px;
        left: 40px;

        &::before {
            border-radius: 0 5px;
            border-left: 0.5px solid black;
        }

        &::after {
            border-radius: 0 5px;
            border-left: 0.5px solid black;
        }
    }

    &.pied-droit {
        bottom: 64px;
        right: 53px;

        &::before {
            border-radius: 5px 0;
            border-right: 0.5px solid black;
        }

        &::after {
            border-radius: 5px 0;
            border-right: 0.5px solid black;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 35px;
        right: 16px;
        display: inline-block;
        width: 6px;
        height: 15px;
        background-color: transparent;
    }

    &::after {
        content: "";
        position: absolute;
        top: 35px;
        display: inline-block;
        width: 6px;
        height: 15px;
        background-color: transparent;
    }
}

@keyframes debut {
    0% {
        opacity: 0%;
    }
    
    100% {
        opacity: 100%;
    }
}

@keyframes graine-main {
    0% {
        opacity: 0%;
    }

    1% {
        opacity: 100%;
    }

    42% {
        opacity: 100%;
    }

    43% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes graine-main-tmp {
    0% {
        top: -600px;
    }

    20% {
        opacity: 100%;
    }

    21% {
        top: 280px;
        transform: rotate(180deg);
        opacity: 0%;
    }

    100% {
        top: 280px;
        transform: rotate(180deg);
        opacity: 0%;
    }
}

@keyframes graine-1 {
    from {
        top: -80px;
    }

    30% {
        top: 72%;
        transform: rotate(171deg);
    }

    to {
        top: 72%;
        transform: rotate(171deg);
    }
}

@keyframes graine-2 {
    from {
        top: -80px;
    }

    30% {
        top: 72%;
        transform: rotate(250deg);
    }

    to {
        top: 72%;
        transform: rotate(250deg);
    }
}

@keyframes graine-3 {
    from {
        top: -80px;
    }

    27% {
        top: 70%;
        transform: scale(0.8) rotate(118deg);
    }

    to {
        top: 70%;
        transform: scale(0.8) rotate(118deg);
    }
}

@keyframes graine-4 {
    from {
        top: -80px;
    }

    25% {
        top: 70%;
        transform: matrix(1, 0.5, 0.5, -1, 20, 20);
    }

    to {
        top: 70%;
        transform: matrix(1, 0.5, 0.5, -1, 20, 20);
    }
}

@keyframes mouvement-pied {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(40deg);
    }

    11% {
        transform: rotate(0deg);
    }

    16% {
        transform: rotate(40deg);
    }

    21% {
        transform: rotate(0deg);
    }

    27% {
        transform: rotate(40deg);
    }

    33% {
        transform: rotate(0deg);
    }

    39% {
        transform: rotate(40deg);
    }

    43% {
        transform: rotate(0deg);
    }

    49% {
        transform: rotate(-40deg);
    }

    55% {
        transform: rotate(0deg);
    }

    61% {
        transform: rotate(-40deg);
    }

    66% {
        transform: rotate(0deg);
    }

    71% {
        transform: rotate(-40deg);
    }

    76% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes deplacement {
    0% {
        transform: translate(-50%, -50%);
    }

    38% {
        transform: translate(-120%, -50%);
    }

    72% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes mouvement-bras {
    0% {
        transform: rotate(45deg);
    }

    8% {
        transform: rotate(-19deg);
    }

    14% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes mouvement-graine {
    0% {
        transform: rotate(0deg);
    }

    8% {
        transform: translateY(-22px) rotate(-17deg);
    }

    14% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes ouverture-bouche {
    0% {
        height: 0px;
    }

    8% {
        height: 65px;
        transform: scale(1.1);
    }

    12% {
        height: 0px;
    }

    100% {
        height: 0px;
    }
}

@keyframes mouvement-reflets {
    0% {
        transform: scale(1.1);
        opacity: 60%;
    }

    100% {
        transform: scale(1.1) translate(1.5px, 2px);
        opacity: 100%;
    }
}

@keyframes mouvement-moustaches-gauches {
    0% {
        transform: rotate(6deg);
    }

    14% {
        transform: rotate(0deg);
    }

    28% {
        transform: rotate(6deg);
    }

    40% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes mouvement-moustaches-droites {
    0% {
        transform: rotate(-6deg);
    }

    14% {
        transform: rotate(0deg);
    }

    28% {
        transform: rotate(-6deg);
    }

    40% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes mouvement-oreille-droite {
    0% {
        transform: rotate(0deg) translateX(0px);
    }

    100% {
        transform: rotate(6deg) translate(5px, 2px);
    }
}

@keyframes mouvement-oreille-gauche {
    0% {
        transform: rotate(0deg) translateX(0px);
    }

    100% {
        transform: rotate(-6deg) translate(-5px, -2px);
    }
}

@keyframes generique {
    0% {
        opacity: 0;
        top: 10%;
    }

    8% {
        opacity: 100%;
        top: 10%;
    }

    100% {
        top: -83%;
    }
}

@keyframes symbole-musique {
    0% {
        transform: scale(1) translate(0px);
    }

    50% {
        color: #ff0d23;
    }

    100% {
        color: #bd00cf;
        transform: scale(3) translate(-50px);
    }
}
